html {
    overflow-y: scroll;
}

.paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paragraph img {
    height: 400px;
}

.paragraph h2 {
    margin-left: 10px;
    padding: 10px;
    font-family: 'Impact', sans-serif;
    font-size: 70px;
    background-color: rgb(140, 0, 255);
    color: rgb(255, 179, 255);
}

.paragraph p {
    position: relative;
    left: 350px;
    width: 750px;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 105px;
    font-family: 'Rockwell', sans-serif;
    font-size: 20px;
    color: rgb(76, 76, 76);
}

.figure-left {
    position: relative;
    left: 180px;
}


.title-left {
    position: relative;
    left: 180px;
}

.content {
    position: absolute;
    top: 190px;
    width: 100%;
}

.content::after {
    content: "Made with ❤️ on Hearth by a human... ...with the help of an LLM."; /* Required for pseudo-elements */
    font-family: 'Rockwell', sans-serif;
    font-size: 16px;
    color: white;
    display: block; /* Make it a block element */
    background-color: black; /* Your desired color */
    padding: 20px;
    height: 55px; /* Set the height as needed */
    text-align: center;
}

#vertical-text {
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    right: 0;
    margin-right: 150px;
    top: 650px;
    font-family: 'Impact', sans-serif;
    font-size: 300px;
    line-height: 80px;
    color: rgba(154, 205, 222, 0.703);
}