body {
    margin: 0;
    padding: 0;
}

#profile-pic {
    position: absolute;
    aspect-ratio: 4 / 3;
    height: 500px;
    top: 200px;
    left: 200px;
}

#title {
    position: relative;
    top: 130px;
    left: 950px;
    font-family: 'Impact', sans-serif;
    font-size: 70px;
}

.highlighted-title {
    padding: 10px;
    background-color: rgb(140, 0, 255);
    color: rgb(255, 164, 255);
}

#caption {
    font-family: 'Rockwell', sans-serif;
    font-size: 20px;
    color: white;
}