/* Add a white background color to the top navigation */
.topnav {
    position: absolute;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97); /* White with 80% opacity */
    overflow: hidden;
    top: -60px;
    transition: top 0.1s; /* Add smooth transition effect */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.099); /* Add a shadow effect */
    padding-top: 15px;
    padding-bottom: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    text-decoration: none;
    font-family: 'Rockwell', sans-serif;
    font-size: 17px;
    color: black;
    padding-right: 20px;
    padding-left: 20px;
}

.topnav b {
    float: right;
    font-size: 20px;
}

.topnav a:hover {
    color: rgba(0, 0, 0, 0.703);
}

.shift {
    position: relative;
    right: 50px;
}

.popup-title {
    position: relative;
    left: 100px;
    top: -5px;
    font-family: 'Impact', sans-serif;
    font-size: 25px;
    color: rgb(154, 205, 222);
}
